nextflow.enable.dsl=2

manifest {
    name = 'NEAP-CD'
    author = 'Kariuki Chege (jameskariuki31@gmail.com)'
    description = 'NEnufar Analysis Pipeline for the Cosmic Dawn'
    mainScript = 'neap.nf'
    defaultBranch = 'dev'
    version = '1.0.0'
}

params {
    container = "/net/node100/data/users/lofareor/bharat/singularity/release_26-09-23/lofarpipe_26-09-23.sif"
    serial_neap = "/home/users/chege/theleap/neap/neap_stages.nf"

    intrinsic_catalog_model = "/home/users/chege/theleap/neap/models/catalog.skymodel"
    intrinsic_Ateam_model =  "/home/users/chege/theleap/neap/models/Ateam_LBA.skymodel"
    intrinsic_3C_model = "/home/users/chege/theleap/neap/models/3c_sources.skymodel"
    minimum_elevation = 0
    minimum_patch_flux = 0

    di_cal_ateam_parset = "/home/users/chege/theleap/neap/parsets/di_cal_apparent.parset"
    di_cal_3c_parset="/home/users/chege/theleap/neap/parsets/di_cal_3c.parset"

    di_calibration_solutions_file_l2_a = "di_diagonal_l2_a.h5"
    di_calibration_solutions_file_l2_b = "di_diagonal_l2_b.h5"
    di_calibration_solutions_file_l2_c = "di_diagonal_l2_c.h5"
    di_calibration_solutions_file_l2_d = "di_diagonal_l2_d.h5"

    ateams_subtraction_parset = "/home/users/chege/theleap/neap/parsets/di_ateams_subtraction.parset"
    three_c_subtraction_parset = "/home/users/chege/theleap/neap/parsets/di_3c_subtraction.parset"

    di_apply_parset = "/home/users/satyapan/NCP211212_analysis/example_parsets/ateam_di_catalog/di_apply.parset"


    dd_cal_parset = "/home/users/satyapan/NCP211212_analysis/example_parsets/ncp_sub/dd_cal.parset"
    dd_calibration_solutions_file_l3 = "dd_diagonal_clustered_l3.h5"
    ncp_subtraction_parset = "/home/users/chege/theleap/neap/parsets/dd_sub.parset"

}



dag {
    enabled = true
    overwrite=true
    file = "dag.png"
}

report {
    enabled = true
    overwrite=true
    file = "report.html"
}

timeline {
    enabled = true
    overwrite=true
    file = "timeline.html"
}

trace {
    enabled = true
    overwrite=true
    file = "trace.html"
}