nextflow.enable.dsl=2

manifest {
    name = 'NenuFlow'
    author = 'Kariuki Chege (jameskariuki31@gmail.com)'
    description = 'Nenufar Analysis Pipeline for the Cosmic Dawn with NextFlow'
    // mainScript = 'neap.nf'
    defaultBranch = 'dev'
    version = '1.0.0'
}

params {
    container = "/net/node132/data/users/lofareor/emilio/containers/lofarpipe_04-12-23.sif" //"/net/node100/data/users/lofareor/bharat/singularity/release_26-09-23/lofarpipe_26-09-23.sif"
    serial_neap = "/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/neap_stages.nf"

    memory = 80.GB
    cpus = 12

    intrinsic_catalog_model = "/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/models/catalog.skymodel"
    intrinsic_Ateam_model =  "/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/models/Ateam_LBA.skymodel"
    intrinsic_3C_model = "/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/models/3c_sources.skymodel"
    ncp_clusters = "/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/parsets/ncp_clusters.txt"
    minimum_elevation = 0
    minimum_patch_flux = 0
    minimum_3C_patch_flux = 1
    min_flux = 0.01
    number_of_clusters = 7
    catalog="lcs165"

    fov_center = "0h00m00s 90d00m00s"
    sky_model_radius = 15

    ntimesteps_to_average = 3 // in L3 stage

    di_cal_ateam_parset = "/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/parsets/di_cal_apparent.parset"
    di_cal_3c_parset = "/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/parsets/di_cal_3c.parset"

    di_calibration_solutions_file_l2_a = "di_diagonal_l2_a.h5"
    di_calibration_solutions_file_l2_b = "di_diagonal_l2_b.h5"
    di_calibration_solutions_file_l2_c = "di_diagonal_l2_c.h5"
    di_calibration_solutions_file_l2_d = "di_diagonal_l2_d.h5"

    ateams_subtraction_parset = "/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/parsets/di_ateams_subtraction.parset"
    three_c_subtraction_parset = "/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/parsets/di_3c_subtraction.parset"
    di_apply_parset = "/home/users/satyapan/NCP211212_analysis/example_parsets/ateam_di_catalog/di_apply.parset"
    dd_cal_parset = "/home/users/satyapan/NCP211212_analysis/example_parsets/ncp_sub/dd_cal.parset"
    dd_calibration_solutions_file_l3 = "dd_diagonal_clustered_l3.h5"
    ncp_subtraction_parset = "/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/parsets/dd_sub.parset"


    image_size = 1800
    image_scale = '1amin'
    spectral_pol_fit = 2

    params.remote_host = 'databf'

    l3_averaged_ms_name  = "SW01_16min_avg.MS"

    config_file="/home/users/satyapan/NT04231208_analysis/nextflow_trials/nenuflow/data_handler.toml"

}


dag {
    enabled = true
    overwrite=true
    file = "dag.png"
}

report {
    enabled = true
    overwrite=true
    file = "report.html"
}

timeline {
    enabled = true
    overwrite=true
    file = "timeline.html"
}

trace {
    enabled = true
    overwrite=true
    file = "trace.html"
}